<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title><%title%></title>
        <%yui-css%>    
        <%forms-css%>    
        <%typography-css%>    
        <%custom-css%>    
        <%mootools%>    
        <%mootools-more%>    
        <%custom-js%>    
    </head>
    <body>
        <div id="doc4" class="yui-t7">
            <div id="hd"><%header%></div>
            <div id="bd">
                <div id="top" class="yui-g">
                    <%top%>
                </div>
                <div class="yui-g">
                    <%message%>
                </div>
                <div id="mainarea" class="yui-gf">
                    <div class="yui-u first">
                        <%sidebar%>
                    </div>
                    <div class="yui-u">
                        <%content%>
                    </div>
                </div>
                <div id="bottom" class="yui-g">
                    <%bottom%>
                </div>
            </div>
            <div id="ft"><%footer%></div>
        </div>
    </body>
</html>
