<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>pcms | please login</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
        <link rel="stylesheet" href="/css/misc/typography.css" type="text/css">
        <link rel="stylesheet" href="/css/misc/forms.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="/css/admin_styles.css">         
    </head>
    <body>
        <div id="pcms_header">
            <div id="logo"><h1>pcms</h1></div>
            <div id="header_right_col">&nbsp;</div>
        </div>
        <div id="doc3" class="yui-t3">
            <div id="hd"><h1>&nbsp;</h1></div>
            <div id="bd">
                <div id="yui-main">
                    <div class="yui-b"><div class="yui-ge">
                            <div class="yui-u first">
                                <!-- main content area --> 
                                <% message %>
                                <form action="<% site_url('/admin/index') %>" method="post">
                                    <table width="200" border="0">
                                        <caption>
                                            Login form
                                        </caption>
                                        <tr>
                                            <th scope="col" colspan="3">Please enter your username &amp; password</th>                
                                        </tr>
                                        <tr>
                                            <td>Username</td>
                                            <td><input name="username" type="text"></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>Password</td>
                                            <td><input name="password" type="password"></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td style="text-align:right"><input type="submit" value="login" name="submit"></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="yui-u">
                                <!-- right column area -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yui-b"><!-- YOUR NAVIGATION GOES HERE --></div>
                
            </div>
            <div id="ft"><small>phiresoft 2008</small></div>
        </div>
        <div id="cms_footer">&nbsp;</div>
    </body>
</html>
